﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
    ViewData["Title"] = "Create Customer";
}

<div class="card mb-lg-0">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="Create" method="POST" id="form_input">
            <div class="form-group row mb-2">
              <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="NameCustomer" id="NameCustomer" value="@Model.NameCustomer">   
              </div>
            </div>
            <div class="mb-2 row">
                 <label for="IdRole" class="col-sm-4 col-form-label">Role Name</label>
              <div class="col-sm-8">
                    @Html.DropDownList("IdRole", 
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"), 
                    "--- Choose Role ---",
                    new {@class="form-control"}
                    )
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control custom-shadow" name="Email" id="Email">
              </div>
            </div>
             <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control custom-shadow" name="Password" id="Password">
              </div>
            </div>
             <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Address" id="Address">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label for="Email" class="col-sm-4 col-form-label">Phone</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Phone" id="Phone">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="VarianTry" asp-action="Index">Back</a>
            </div>
          </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCustomer : {
                required : true,
                minlength : 5,
            },
            IdRole : "required",
            Email : "required",
            Password : {
                required : true,
                minlength : 6,
            },
            Address : "required",
            Phone : "required"
        },
        messages:{
            NameCustomer : {
                required : "Please fill name Customer!",
                minlength : "The Name must consist of at least 5 character!",
            },
            IdRole : "Please Select Role!",
            Email : "Please fill Email!",
            Password :{
                required : "Please fill Password!",
                minlength : "The Passowrd must consist of at least 6 character!",
            },
            Address : "Please fill Address!",
            Phone : "Please fill Phone Number!",
        },
        submitHandler: function (form) {
			var dataForm = $(form).serialize();	
			$.ajax({
				url: "/Customer/Create",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")
                        Swal.fire({
                          icon: 'success',
                          title: data.message,
                          showConfirmButton: false,
                          timer: 1000
                          })
                          setTimeout(function(){
                             window.location.reload();
                          }, 1100);
						//toastr.success(
						//	data.message,
						//	'',
						//	{
						//		timeOut: 500,
						//		fadeOut: 500,
						//		onHidden: function () {
						//			window.location.reload()
						//		}
						//	}
						//)
					}
					else{
						//toastr.error(data.message)
                         $(".modal").modal("hide")
                          Swal.fire({
                          icon: 'error',
                          title: data.message,
                          showConfirmButton: false,
                          timer: 1000
                          })
                          setTimeout(function(){
                             window.location.reload();
                          }, 1100);
                    }
				}
			})
		}
    })
</script>