﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
    ViewData["Title"] = "Detail Customer";
}

<div class="card mb-lg-0">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="Create" method="POST" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
            <div class="form-group row mb-2">
              <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="NameCustomer" id="NameCustomer" value="@Model.NameCustomer" readonly>   
              </div>
            </div>
             <div class="form-group row mb-2">
              <label for="RoleName" class="col-sm-4 col-form-label">Name Customer</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="RoleName" id="RoleName" value="@Model.RoleName" readonly>   
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control custom-shadow" name="Email" id="Email" value="@Model.Email" readonly>
              </div>
            </div>
             <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Password" id="Password" value="@Model.Password" readonly>
              </div>
            </div>
             <div class="form-group row mb-2">
              <label for="Email" class="col-sm-4 col-form-label">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Address" id="Address" value="@Model.Address" readonly>
              </div>
            </div>
            <div class="form-group row mb-4">
              <label for="Email" class="col-sm-4 col-form-label">Phone</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Phone" id="Phone" value="@Model.Phone" readonly>
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="VarianTry" asp-action="Index">Back</a>
            </div>
          </form>
    </div>
</div>