﻿@using xpos314.web.Services

@inject AuthService authService
@{
    int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
    int IdRole = @Context.Session.GetInt32("IdRole")??0;
    var menus = await authService.MenuAccess(IdRole);
}
 <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">

              <!-- Sidebar scroll-->
                
                    @if(IdCustomer != 0){
                        <div class="scroll-sidebar" data-sidebarbg="skin6">
                          <!-- Sidebar navigation-->
                          <nav class="sidebar-nav">
                              <ul id="sidebarnav">
                                  @*<li class="nav-small-cap"><span class="hide-menu">Master</span></li>*@
                                      @foreach (var parent in menus)
                                        {
                                         <li class="sidebar-item"> <a class="sidebar-link" asp-controller="@parent.MenuController" asp-action="@parent.MenuAction"
                                              aria-expanded="false"><i data-feather="@parent.MenuIcon" class="feather-icon"></i><span
                                                  class="hide-menu">@parent.MenuName</span></a>
                                         </li>
                                        }
                                  <li class="list-divider"></li>
                                  
                                      <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
                                              aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                                  class="hide-menu">Logout</span></a></li>
                              </ul>
                          </nav>
                          <!-- End Sidebar navigation -->
                      </div>                  
                          <!-- End Sidebar scroll-->
                    }
                      
                        
            <!-- SIDEBAR ADMIN LTE -->
            @*<!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                @foreach (var parent in menus)
                {
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link">
                            <i class="nav-icon @parent.MenuIcon"></i>
                            <p>
                                @parent.MenuName
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            @foreach (var child in parent.ListChild)
                            {
                                <li class="nav-item">
                                    <a asp-controller="@child.MenuController" asp-action="@child.MenuAction" class="nav-link">
                                        <i class="@child.MenuIcon nav-icon"></i>
                                        <p>@child.MenuName</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
*@

         @*   @{
                if(IdCustomer != 0 && IdRole == 2)
                {
                     <!-- Sidebar scroll-->
                      <div class="scroll-sidebar" data-sidebarbg="skin6">
                          <!-- Sidebar navigation-->
                          <nav class="sidebar-nav">
                              <ul id="sidebarnav">
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/"
                                          aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                              class="hide-menu">Dashboard</span></a></li>
                                  <li class="list-divider"></li>
                                  <li class="nav-small-cap"><span class="hide-menu">Master</span></li>

                                  <li class="sidebar-item"> <a class="sidebar-link" asp-controller="Friend" asp-action="Index"
                                          aria-expanded="false"><i data-feather="users" class="feather-icon"></i><span
                                              class="hide-menu">Friend</span></a>
                                  </li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="CategoryTry" asp-action="Index"
                                          aria-expanded="false"><i data-feather="tag" class="feather-icon"></i><span
                                              class="hide-menu">Category Try</span></a>
                                  </li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="VariantTry" asp-action="Index"
                                          aria-expanded="false"><i data-feather="bookmark" class="feather-icon"></i><span
                                              class="hide-menu">Variant Try</span></a>
                                  </li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Category" asp-action="Index"
                                          aria-expanded="false"><i data-feather="menu" class="feather-icon"></i><span
                                              class="hide-menu">Category</span></a>
                                  </li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Variant" asp-action="Index"
                                          aria-expanded="false"><i data-feather="box" class="feather-icon"></i><span
                                              class="hide-menu">Variant</span></a>
                                  </li> 
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Product" asp-action="Index"
                                          aria-expanded="false"><i data-feather="clipboard" class="feather-icon"></i><span
                                              class="hide-menu">Product</span></a>
                                  </li>
                          
                                  <li class="list-divider"></li>
                                  <li class="nav-small-cap"><span class="hide-menu">Transaction</span></li>

                                  <li class="sidebar-item"> <a class="sidebar-link" asp-controller="Order" asp-action="Catalog"
                                          aria-expanded="false"><i data-feather="list" class="feather-icon"></i><span
                                              class="hide-menu">Catalog</span></a>
                                  </li>
                                                          <li class="sidebar-item"> <a class="sidebar-link" asp-controller="Order" asp-action="HistoryOrder"
                                          aria-expanded="false"><i data-feather="archive" class="feather-icon"></i><span
                                              class="hide-menu">History Order</span></a>
                                  </li>
                                  <li class="list-divider"></li>
                                  <li class="nav-small-cap"><span class="hide-menu">Configuration</span></li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Role" asp-action="Index"
                                          aria-expanded="false"><i data-feather="user" class="feather-icon"></i><span
                                              class="hide-menu">Role</span></a>
                                  </li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Customer" asp-action="Index"
                                          aria-expanded="false"><i data-feather="users" class="feather-icon"></i><span
                                              class="hide-menu">Customer</span></a>
                                  </li>
                                  <li class="list-divider"></li>
                                  <li class="sidebar-item"> <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout"
                                          aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                              class="hide-menu">Logout</span></a></li>
                              </ul>
                          </nav>
                          <!-- End Sidebar navigation -->
                      </div>
                    <!-- End Sidebar scroll-->
                }
             }   *@
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
