﻿@using xpos314.viewmodels
@model VMTblVariant
@{
      Layout = null;
      ViewData["Title"] = "Delete Variant";
}

<div class="card mb-lg-0">
    <div class="card-body">
    <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="Delete" method="POST">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>

            <h3>Are you sure for delete @Model.NameVariant ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <div>
        </form>
    </div>
</div>

