﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Edit Variant Try";
}

<div class="card mb-lg-0">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="Edit" method="POST" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
            <div class="form-group row mb-2">
              <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="NameVariant" id="NameVariant" value="@Model.NameVariant">
                <span class="text-danger" asp-validation-for="NameCategory"></span>
              </div>
            </div>
            <div class="mb-2 row">
                 <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
              <div class="col-sm-8">
                    @Html.DropDownList("IdCategory", 
                    new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"), 
                    "--- Choose Category ---",
                    new {@class="form-control"}
                    )
              </div>
            </div>
            <div class="form-group row mb-4">
              <label for="Description" class="col-sm-4 col-form-label">Description</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Description" id="Description" value="@Model.Description">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="VarianTry" asp-action="Index">Back</a>
            </div>
          </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameVariant : {
                required : true,
                minlength : 5,
            },
            IdCategory : "required"
        },
        messages:{
            NameVariant : {
                required : "Please fill name Variant!",
                minlength : "The Name must consist of at least 10 character!",
            },
            IdCategory : "Please Select Category!"
        }
    })
</script>