﻿@using xpos314.viewmodels
@{
    ViewData["Title"] = "Variant Try";
}

<div class="card">
  <form asp-action="Index" method="GET" id="form_search">
    <div class="card-body">
        <h1 class="card-title mb-4">@ViewData["Title"]</h1>
        <div class="row mb-3"> 
            <div class="col-12"> 
                <div class="d-flex justify-content-between">
                     <a class="btn btn-primary btn-rounded" style="color: white" id="btn_add"><i data-feather="plus"></i></a>
                     <div class="input-group custom-shadow w-35">
                         <input type="text" class="form-control border-0 bg-white" id="searchString" name="searchString" 
                         value="@ViewBag.currentFilter" placeholder="Search.." />
                         <div class="input-group-prepend">
                             <div class="input-group-text" id="btn_search"><i class="form-control-icon" data-feather="search"></i></div>
                        </div>
                         <div class="input-group-prepend">
                             <div class="input-group-text" style="cursor:pointer" id="btn_reset"><i  class="form-control-icon" data-feather="refresh-ccw"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped ">
          <thead>
            <tr>
              <th>
                  <a asp-action="Index" asp-route-sortOrder="@ViewBag.idSort"
                  asp-route-currentFilter="@ViewBag.currentFilter"
                  asp-route-pageNumber="@ViewBag.PageIndex"
                  asp-route-showData="@ViewBag.currentShowData">Id</a>
              </th>
              <th>
                  <a asp-action="Index" asp-route-sortOrder="@ViewBag.idSort"
                  asp-route-currentFilter="@ViewBag.currentFilter"
                  asp-route-pageNumber="@ViewBag.PageIndex"
                  asp-route-showData="@ViewBag.currentShowData">Name Variant</a>
              </th>
              <th>Name Category</th>
              <th>Description</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            @{
                if(Model.Count > 0){
                    foreach(VMTblVariant item in Model)
                    {
                    <tr>
                      <th scope="row">@item.Id</th>
                      <td>@item.NameVariant</td>
                      <td>@item.NameCategory</td>
                      <td>@item.Description</td>
                      <td class="text-center align-middle"><a class="btn btn-primary btn-rounded btn_edit" style="color: white" data-id="@item.Id"><i data-feather="edit"></i></a> &nbsp;
                          <a class="btn btn-success  btn-rounded btn_detail" style="color: white" data-id="@item.Id"> <i data-feather="user-check"></i></a> &nbsp;
                          <a class="btn btn-danger btn-rounded btn_delete" style="color: white" data-id="@item.Id"> <i data-feather="trash"></i></a>
                      </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        
                        <td class="text-center align-middle" colspan="5">Data Not Found</td>
                        
                    </tr>
                }
            }
          </tbody>
        </table>
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="d-flex justify-content-between">
                    <div class="btn-group">
                        <div class="mr-2">
                            show
                        </div>
                        <select name="showData" id="select_show" aria-controls="zero_config" class="form-control form-control-sm w-auto">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                        </select>
                        <div class="ml-2"> entries from @Model.TotalData data</div>
                        <input type="hidden" name="sortOrder" id="sort_change" value="" />
                    </div>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="w-30">
                        Page @Model.PageIndex of @Model.TotalPages
                        <a asp-action="Index"
                            asp-route-sortOrder="@ViewBag.currentSort"
                            asp-route-pageNumber="@(Model.PageIndex-1)"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"
                            asp-route-showData="@ViewBag.currentShowData"
                            class="btn btn-primary @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                            asp-route-sortOrder="@ViewBag.currentSort"
                            asp-route-pageNumber="@(Model.PageIndex+1)"
                            asp-route-currentFilter="@ViewBag.Currentfilter"
                            asp-route-showData="@ViewBag.currentShowData"
                            class="btn btn-primary @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<script>
    $(document).ready(function(){

        $("#select_show").val(@ViewBag.currentShowData);

        $("#btn_add").click(function(){
            $(".body-modal").load("/VariantTry/Create");
            $("#myModal").modal("show");
            //alert("masuk");
        });

        $(".btn_edit").click(function(){
            //debugger untuk debug perstep di frontend
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/VariantTry/Edit?id=" + id);
            $("#myModal").modal("show");
        });

        $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/VariantTry/Detail?id=" + id);
            $("#myModal").modal("show");
        });

        $(".btn_delete").click(function(){
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/VariantTry/Delete?id=" + id);
            $("#myModal").modal("show");
        });

        $("#btn_search").click(function(){
            $("#sort_change").val("@ViewBag.CurrenSort")
            $("#form_search").submit()
        });

        $("#btn_reset").click(function(){
            $("#searchString").val("")
            $("#form_search").submit()
        });

        $("#select_show").change(function(){
            $("#sort_change").val("@ViewBag.CurrenSort")
            $("#form_search").submit()
        });
    });
</script>


