﻿@using xpos314.viewmodels
@model VMTblCategory
@{
     ViewData["Title"] = "Create Category";
     Layout=null;
}
<div class="card mt-4">
    <div class="card-body">
    <h4 class="card-title">@ViewData["Title"]</h4>
  <form asp-action="Create" method="POST">
  <div class="form-group row mb-2">
    <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory">
      <span class="text-danger" asp-validation-for="NameCategory"></span>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="Description" class="col-sm-4 col-form-label">Description</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="Description" id="Description">
    </div>
  </div>
  &nbsp;
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
       <a class="btn btn-secondary" asp-controller="CategoryTry" asp-action="Index">Back</a>
    </div>
  </div>
</form>
</div>
</div>

