﻿@using xpos314.viewmodels
@model VMTblCategory
@{
      ViewData["Title"] = "Edit Category";
      Layout=null;
}
<div class="card">
    <div class="card-body">
    <h4 mb-2>@ViewData["Title"]</h4>
  <form asp-action="Edit" method="POST">
   <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>
  <div class="form-group row mb-2">
    <label for="NameCategory" class="col-sm-2 col-form-label">Name Category</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory">
      <span class="text-danger" asp-validation-for="NameCategory"></span>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="Description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
    </div>
  </div>
  &nbsp;
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
       <a class="btn btn-secondary" asp-controller="CategoryTry" asp-action="Index">Back</a>
    </div>
  </div>
</form>
</div>
</div>
