﻿@using xpos314.viewmodels
@{
    ViewData["Title"] = "Category Try";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title mb-4">@ViewData["Title"]</h1>
        @*<div class="row mb-2">
            <div class="col-12 d-flex justify-content-between">
            <form asp-action="Index" method="GET" id="form_search">
                <div class="customize-input float-right">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchString" value="@ViewBag.currentFilter" placeholder="Search.."/>
                        <div class="input-group-prepend"> 
                                <button type="submit" class="btn btn-secondary" id="btn_search"><i data-feather="search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>*@
        <a class="btn btn-primary mr-2 mb-2 btn-rounded" style="color: white" id="btn_add"><i data-feather="plus"></i></a>
        <table class="table table-hover table-striped ">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name Category</th>
              <th scope="col">Description</th>
              <th scope="col" class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            @foreach(VMTblCategory item in Model)
            {
            <tr>
              <th scope="row">@item.Id</th>
              <td>@item.NameCategory</td>
              <td>@item.Description</td>
              <td class="text-center align-middle"><a class="btn btn-primary btn-rounded btn_edit" style="color: white" data-id="@item.Id"><i data-feather="edit"></i></a> &nbsp;
                  <a class="btn btn-success btn-rounded btn_detail" style="color: white" data-id="@item.Id"> <i data-feather="user-check"></i></a> &nbsp;
                  <a class="btn btn-danger btn-rounded btn_delete" style="color: white" data-id="@item.Id"> <i data-feather="trash"></i></a>
              </td>
            </tr>
            }
          </tbody>
        </table>
</div>
</div>

<script>
    $(document).ready(function(){
        $("#btn_add").click(function(){
            $(".body-modal").load("/CategoryTry/Create");
            $("#myModal").modal("show");
            //alert("masuk");
        });

        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/CategoryTry/Edit?id=" + id);
            $("#myModal").modal("show");
        });

        $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/CategoryTry/Detail?id=" + id);
            $("#myModal").modal("show");
        });

        $(".btn_delete").click(function(){
            var id = $(this).data("id")
            $(".body-modal").empty()
            $(".body-modal").load("/CategoryTry/Delete?id=" + id);
            $("#myModal").modal("show");
        });
    });
</script>


