﻿@using xpos314.datamodels
@model TblCategory
@{
    ViewData["Title"] = "Create Category";
}

<div class="card mb-lg-0">
    <div class="card-body">
        @*<div class="card-title">@ViewData["Title"]</div>*@
        <form id="form_input">
            <div class="form-group row mb-2">
              <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="NameCategory" id="NameCetegory" value="@Model.NameCategory">
                <span class="text-danger" id="validate_NameCategory"></span>
              </div>
            </div>
            <div class="form-group row mb-4">
              <label for="Description" class="col-sm-4 col-form-label">Description</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Description" id="Description" value="@Model.Description">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="Category" asp-action="Index">Back</a>
            </div>
          </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCategory : {
                required : true,
                minlength : 5,
            }
        },
        messages:{
            NameCategory : {
                required : "Please fill name Category!",
                minlength : "The Name must consist of at least 5 character!",
            }
        },
        submitHandler : function(form){
            var dataForm = $(form).serialize();
            var nameCategory = $('input[name="NameCategory"]').val();

            $.ajax({
                url:"/Category/CheckNameIsExist",
                //method: "GET"
                type: "GET",
                data: {nameCategory: nameCategory},
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_NameCategory").text("Name Category is already exist")
                        return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url:"/Category/Create",
            type: "POST",
            dataType: "json",
            data:dataParam,
            success:function(respon){
                var data = respon.dataRespon
                if(data.success){
                    $(".modal").modal("hide")
                    Swal.fire({
                      icon: 'success',
                      title: 'Data has been saved',
                      showConfirmButton: false,
                      timer: 1000
                    })
                   setTimeout(function(){
                       window.location.reload();
                    }, 1100);
                }
                else{
                    Toast.fire({
                        icon:"Failed",
                        title: data.message
                    })
                    //toastr.error(data.message)
                }
            }
        })
    }

</script>