﻿@using xpos314.datamodels
@model TblCategory
@{
      ViewData["Title"] = "Delete Category";
}

<div class="card">
    <div class="card-body">
        <form asp-action="SureDelete" method="POST">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>

            <h3>Are you sure for delete @Model.NameCategory ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded">Yes</button>
                <a asp-action="Index" class="btn btn-secondary btn-rounded">Back to List</a>
            </div>
        </form>
    </div>
</div>


