﻿@using xpos314.datamodels
@model TblCategory
@{
      ViewData["Title"] = "Detail Category";
}
<div class="card">
    <div class="card-header d-lg-flex">
        <h3 class="card-title font-weight-bold mr-2 mt-2">@ViewData["Title"]</h3>  
    </div>
    <div class="card-body">
  <div class="form-group row mb-2">
    <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="Description" class="col-sm-4 col-form-label">Description</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
    </div>
  </div>
</div>
</div>

