﻿@using xpos314.datamodels
@model xpos314.viewmodels.PaginatedList<TblCategory>
@{
        ViewData["Title"] = "Category";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title mb-4">@ViewData["Title"]</h1>
        <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize" id="form_search">
            <div class="row mb-4"> 
                <div class="col-12"> 
                    <div class="d-flex justify-content-between">
                             <a class="btn btn-primary btn-rounded" style="color: white" id="btn_create"><i data-feather="plus"></i></a>
                             <div class="input-group custom-shadow w-30">
                                 <input type="text" class="form-control border-0 bg-white" id="searchString" name="searchString" 
                                 value="@ViewBag.currentFilter" placeholder="Search.." />
                                 <div class="input-group-prepend">
                                     <div class="input-group-text bg-white border-0" id="btn_search"><i class="form-control-icon" data-feather="search"></i></div>
                                </div>
                                 <div class="input-group-prepend">
                                     <div class="input-group-text bg-white border-0" style="cursor:pointer" id="btn_reset"><i  class="form-control-icon" data-feather="refresh-ccw"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <!-- /.card-header -->
        <div class="table-responsive p-0">
            <table class="table table-striped table-hover mb-3">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                                <i class="fas fa-sort"></i>
                                Name Category
                            </a>
                        </th>
                        <th>Description</th>
                        <th class="text-center align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count != 0)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NameCategory</td>
                                <td>@item.Description</td>
                                <td class="text-center align-middle">
                                  <a class="btn btn-primary btn-rounded btn_edit" style="color: white" dataid="@item.Id"><i data-feather="edit"></i></a> &nbsp;
                                  <a class="btn btn-success  btn-rounded btn_detail" style="color: white" dataid="@item.Id"> <i data-feather="user-check"></i></a> &nbsp;
                                  <a class="btn btn-danger btn-rounded btn_delete" style="color: white" dataid="@item.Id"> <i data-feather="trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center align-middle" colspan="3">
                                <i>Data not found</i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="row">
               <div class="col-sm-12">
                  <div class="d-flex justify-content-between">
                    <div class="btn-group">
                        <div class="mr-2">
                            show
                        </div>
                    <form asp-action="Index" id="form_pagesize">
                        <select name="PageSize" id="PageSize"
                                class="form-control-sm">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </form>
                    <div class="ml-2"> entries from @Model.TotalData data</div>
                    </div>
                    <div class="w-30">
                    Page @Model.PageIndex of @Model.TotalPages
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="btn btn-info  @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.CurrentPageSize"
                       class="btn btn-info  @nextDisabled">
                        Next
                    </a>                                 
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#btn_create").click(function(){
            $(".body-modal").empty();
            $("#modal_title").text("Create Category")
            $(".body-modal").load("/Category/Create")
            $("#myModal").modal("show");
        });

        $(".btn_detail").click(function(){

            var id = $(this).attr("dataid")
            $(".body-modal").empty();
            $(".body-modal").load("/Category/Detail?id="+id)
            $("#myModal").modal("show");
        });

        $(".btn_edit").click(function(){

            var id = $(this).attr("dataid")
            $(".body-modal").empty();
            $(".body-modal").load("/Category/Edit?id="+id)
            $("#myModal").modal("show");
        });

        $(".btn_delete").click(function(){
            var id = $(this).attr("dataid");
             $(".body-modal").empty();
            $(".body-modal").load("/Category/Delete?id="+id)
            $("#myModal").modal("show");
        });

         $("#btn_search").click(function(){
            $("#sort_change").val("@ViewBag.CurrenSort")
            $("#form_search").submit()
        });

        $("#btn_reset").click(function(){
            $("#searchString").val("")
            $("#form_search").submit()
        });

        $("#PageSize").val(@ViewBag.CurrentPageSize)

        $("#PageSize").change(function(){
            $("#form_pagesize").submit();
        })

    });
</script>