﻿@using xpos314.viewmodels
@model VMTblProduct
@{
    ViewData["Title"] = "Create Product";
}

<div class="card mb-lg-0">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form method="POST" asp-action"Create" id="form_input" enctype="multipart/form-data">
            <div class="form-group row mb-2">
              <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="NameProduct" id="NameProduct" value="@Model.NameProduct">
                <span class="text-danger"></span>
              </div>
            </div>
            <div class="mb-2 row">
                 <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
              <div class="col-sm-8">
                    @Html.DropDownList("IdCategory", 
                    new SelectList(ViewBag.ListCategory, "Id", "NameCategory"), 
                    "--- Choose Category ---",
                    new {@class="form-control"}
                    )
              </div>
            </div>
            <div class="mb-2 row">
                 <label for="IdCategory" class="col-sm-4 col-form-label">Name Variant</label>
              <div class="col-sm-8">
                    @Html.DropDownList("IdVariant", 
                    new SelectList(ViewBag.ListVariant, "Id", "NameVariant"), 
                    "--- Choose Variant ---",
                    new {@class="form-control", @disabled = "disabled"}
                    )
              </div>
            </div>
            <div class="mb-2 row">
              <label for="Price" class="col-sm-4 col-form-label">Price</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Price" id="Price" value="@Model.Price">
              </div>
            </div>
             <div class="mb-2 row">
              <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
              <div class="col-sm-8">
                <input type="text" class="form-control custom-shadow" name="Stock" id="Stock" value="@Model.Stock">
              </div>
            </div>
             <div class="mb-4 row">
              <label for="ImageFile" class="col-sm-4 col-form-label">Upload</label>
              <div class="col-sm-8">
                <input type="file" class="form-control custom-shadow" id="ImageFile" name="ImageFile" value="@Model.Image">
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="Product" asp-action="Index">Back</a>
            </div>
          </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameProduct : {
                required : true,
                minlength : 5,
                noSpace : true
            },
            Price:{
                required : true,
                number : true
            },
            Stock:{
                required : true,
                number : true
            },
            ImageFile : {
                required : true,
                typeFile : "jpg|jpeg|png",
                uploadFile : true
            },
            IdCategory : "required",
            IdVariant : "required"
        },
        messages:{
            NameProduct : {
                required : "Please fill name Product!",
                minlength : "The Name must consist of at least 5 character!",
                noSpace : "Input can't be empty, Please fill name product!"
            },
            Price : {
                required : "Please fill price Product!",
                number : "Please fill number only!",
            },
            Stock : {
                required : "Please fill stock Product!",
                number : "Please fill number only!",
            },
             ImageFile : {
                required : "Please fill Image",
                typeFile : "Please upload jpg|jepg|png",
                uploadFile : "Pleas upload less than 1MB"
            },
            IdCategory : "Please Select Category!",
            IdVariant : "Please Select Variant!"
        },
        submitHandler: function (form) {
			var formData = new FormData()
            var dataForm = $(form).serializeArray()

            $.each(dataForm, function(key, input){
                formData.append(input.name, input.value)
            })

            var file = $("#ImageFile").prop("files")
            if(file.length>0){
                formData.append("ImageFile", file[0])
            }
			$.ajax({
				url: "/Product/Create",
				type: "POST",
				dataType: "json",
                contentType:false,
                processData:false,
				data: formData,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")
                        Swal.fire({
                          icon: 'success',
                          title: data.message,
                          showConfirmButton: false,
                          timer: 1000
                          })
                          setTimeout(function(){
                             window.location.reload();
                          }, 1100);
						//toastr.success(
						//	data.message,
						//	'',
						//	{
						//		timeOut: 500,
						//		fadeOut: 500,
						//		onHidden: function () {
						//			window.location.reload()
						//		}
						//	}
						//)
					}
					else{
						  $(".modal").modal("hide")
                          Swal.fire({
                          icon: 'error',
                          title: data.message,
                          showConfirmButton: false,
                          timer: 1000
                          })
                          setTimeout(function(){
                             window.location.reload();
                          }, 1100);
                    }
				}
			})
		}
    })

    jQuery.validator.addMethod("noSpace", function(value, element){
        return value.trim() != "";
    });

    jQuery.validator.addMethod("typeFile", function (value, element, param){
        return value.match(new RegExp("."+param+"$"));
    });

    jQuery.validator.addMethod("uploadFile", function(val, element){
        var size = element.files[0].size;
        if(size>1048576)
            return false;
        else
            return true;
    });

    $("#IdCategory").change(function(){
        var IdCategory = $(this).val()
        $.ajax({
            url:"/Product/GetDataByIdCategory",
            data: {id: IdCategory},
            type: "GET",
            dataType: "json",
            success:function(respon){
                if(respon){
                    $("#IdVariant").removeAttr("disabled").html("")
                    $("#IdVariant").append("<option>--Select Variant--</option>")
                    $.each(respon, function(index, res){
                    $('#IdVariant').append('<option value="'+ res.id +'">'+ res.nameVariant +'</option>')
                })
                }else{
                      $("#IdVariant").attr("disabled", "disabled").html("")
                }
            }
        })
    })

</script>