﻿@using xpos314.viewmodels
@model VMTblProduct
@{
      ViewData["Title"] = "Delete Product";
}

<div class="card mb-lg-0">
    <div class="card-body">
    <div class="card-title">@ViewData["Title"]</div>
        <form asp-action="SureDelete">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>

            <h3>Are you sure for delete @Model.NameProduct ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded">Yes</button>
                <a asp-action="Index" class="btn btn-secondary btn-rounded">Back to List</a>
            <div>
        </form>
    </div>
</div>
