﻿﻿@using xpos314.viewmodels
@model VMTblProduct
@{
	ViewData["Title"] = "Detail Product";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Edit" method="post" enctype="multipart/form-data" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="mb-4 row">
				<div class="col-sm-12 d-flex justify-content-center">
					@{
						if(Model.Image != null)
						{
							<img class="rounded-circle" src="~/images/@Model.Image" height="80" width="80"/>
						}
					}
				</div>
				@*<div class="col-sm-12 d-flex justify-content-center">
					@{
						string image = (@Model.Image!.Replace(@Model.Image.Split('_')[0],"")).Substring(1);
						if(Model.Image != null)
						{
							<input type="text" class="form-control" value="@image" readonly />
						}
					}
				</div>*@
			</div>
			<div class="mb-4 row">
				<label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameProduct" name="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock" readonly>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-12 d-flex justify-content-end">
                <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="Product" asp-action="Index">Back</a>
				</div>
			</div>
		</form>

	</div>
</div>
