﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
}
   <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(adminmart/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(adminmart/assets/images/big/3.jpg);">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="~/adminmart/assets/images/big/icon.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Sign In</h2>
                        <p class="text-center">Enter your email address and password to access admin panel.</p>
                        <form class="mt-4" id="form_login">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="Email">Email</label>
                                        <input class="form-control" name="Email" id="Email" type="email"
                                            placeholder="enter your email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="Password">Password</label>
                                        <input class="form-control" name="Password" id="Password" type="password"
                                            placeholder="enter your password">
                                         <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Sign In</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Don't have an account? <a class="text-danger register"  style="cursor:pointer">Sign Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<script>
  $("#form_login").validate({
  errorClass:"text-danger",
  rules:{
      Email : {
          required : true,
          email : true,
      },
      Password : "required"
  },
  messages:{
      Email : {
          required : "Please fill Email!",
          minlength : "Please fill a valid email address!",
      },
      Password : "Please Fill Password!"
  },
  submitHandler: function (form) {
//var dataForm = $(form).serialize();
      var email = $("#Email").val()
      var password = $("#Password").val()

$.ajax({
  url: "/Auth/LoginSubmit",
  type: "POST",
  dataType: "json",
  data: {Email: email, Password: password},
          //beforeSend: function(){
          //     $("#modal_load").modal("show")
          //},
  success: function (respon) {
    //setTimeout(function(){
    //        $("#modal_load").modal("hide")
    //      }, 1000);
    var data = respon.dataRespon
    if (data.success) {
      $("#modal_lg").modal("hide")
                  Swal.fire({
                    position: 'top',
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                    });
                    setTimeout(function(){
                       window.location.reload();
                    }, 1600);
    }else{
            Swal.fire({
            icon: 'error',
            title: data.message
            });
        } 
      }
    })
  }
})

$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = document.getElementById("Password");
  if (input.type === "password") {
    input.type = "text";
  } else {
     input.type = "password";
  }
});

 $(".register").click(function(){
        $("#modal_body_lg").empty()
        $("#modal_body_lg").load("Auth/Register")
        $("#modal_lg").modal("show")
    })
</script>
