﻿@using xpos314.datamodels
@model TblRole
@{
      ViewData["Title"] = "Detail Role";
}
<div class="card">
    <div class="card-header d-lg-flex">
        <h3 class="card-title font-weight-bold mr-2 mt-2">@ViewData["Title"]</h3>  
    </div>
    <div class="card-body">
  <div class="form-group row mb-2">
    <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="RoleName" id="RoleName" value="@Model.RoleName" readonly>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="IsDelete" class="col-sm-4 col-form-label">Is Delete</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="IsDelete" id="IsDelete" value="@Model.IsDelete.ToString()" readonly>
    </div>
  </div>
</div>
</div>