﻿@using xpos314.datamodels
@model TblRole
@{
      ViewData["Title"] = "Edit Role";
}
<div class="card">
    <div class="card-body">
    <h4 mb-2>@ViewData["Title"]</h4>
  <form id="form_input">
   <input type="hidden" id="Id" name="Id" value="@Model.Id"></input>
  <div class="form-group row mb-2">
    <label for="NameCategory" class="col-sm-4 col-form-label">Role Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="RoleName" id="RoleName" value="@Model.RoleName">
      <span class="text-danger" id="validate_NameRole"></span>
    </div>
  </div>
  &nbsp;
 <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-rounded btn-sm">Submit</button>
        <a class="btn btn-secondary btn-rounded btn-sm" asp-controller="Category" asp-action="Index">Back</a>
</div>
</form>
</div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            RoleName : {
                required : true,
                minlength : 5,
            }
        },
        messages:{
            RoleName : {
                required : "Please fill Role Name!",
                minlength : "The Name must consist of at least 5 character!",
            }
        },
        submitHandler : function(form){
            var dataForm = $(form).serialize();
            var nameRole = $('input[name="RoleName"]').val();

            $.ajax({
                url:"/Role/CheckNameIsExist",
                //method: "GET"
                type: "GET",
                data: {nameRole: nameRole},
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_NameRole").text("Role Name is already exist")
                        return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url:"/Role/Edit",
            type: "POST",
            dataType: "json",
            data:dataParam,
            success:function(respon){
                var data = respon.dataRespon
                if(data.success){
                    $(".modal").modal("hide")
                    Swal.fire({
                      icon: 'success',
                      title: 'Data has been saved',
                      showConfirmButton: false,
                      timer: 1000
                    })
                   setTimeout(function(){
                       window.location.reload();
                    }, 1100);
                }
                else{
                    Toast.fire({
                        icon:"Failed",
                        title: data.message
                    })
                    //toastr.error(data.message)
                }
            }
        })
    }

</script>

