﻿@{
}
<div class="col-md-6 mb-4 mt-4">
<h1 class="mb-4">Create Friend</h1>
  <form action="Create" method="POST">
  <div class="form-group row mb-4">
    <label for="Id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="Id" id="Id">
    </div>
  </div>
  <div class="form-group row mb-4">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Name" id="Name">
    </div>
  </div>
  <div class="form-group row mb-4">
    <label for="Adress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Address" id="Address">
    </div>
  </div>
  &nbsp;
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
       <a class="btn btn-secondary" asp-controller="Friend" asp-action="Index">Back</a>
    </div>
  </div>
</form>

</div>