﻿@model Friend
@{
    ViewData["Title"] = "Delete Friend";
}

<div class="h3 mb-6"> Are you sure delete this data? </div>
<form method="post" action="Delete">
    <div>
          <button type="submit" class="btn btn-danger" asp-route-id=@Model.Id>Submit</button>
         @*<a class="btn btn-danger" type="submit" asp-controller="Friend" asp-action="DeleteFriend" asp-route-id=@Model.Id>Yes</a>*@
         <a class="btn btn-secondary" asp-controller="Friend" asp-action="Index">Back</a>
    </div>
</form>