﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Page Friend";
}
<h1>@ViewData["Title"]</h1>
<a class="btn btn-secondary btn-sm mt-2 mb-2" asp-controller="Friend" asp-action="Create" style="float: right"><i data-feather="user-plus"></i></a>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th class="text-center align-middle" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach(Friend item in Model)
    {
    <tr>
      <th scope="row">@item.Id</th>
      <td>@item.Name</td>
      <td>@item.Address</td>
      <td class="text-center align-middle"><a class="btn btn-primary btn-sm rounded" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id"><i data-feather="edit"></i></a> &nbsp;
          <a class="btn btn-success btn-sm rounded" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id"> <i data-feather="user-check"></i></a> &nbsp;
          <a class="btn btn-danger btn-sm rounded" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id"> <i data-feather="trash"></i></a>
      </td>
    </tr>
    }
  </tbody>
</table>

@*<h1>Page Friend (From View Bag)</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @{int num = 1;}
    @foreach(Friend item in ViewBag.lstFriend)
    {
    <tr>
      <th scope="row">@num</th>
      <td>@item.Name</td>
      <td>@item.Address</td>
      <td><a href="#" class="btn btn-primary btn-sm"> <i data-feather="edit"></i></a> &nbsp;
          <a href="#" class="btn btn-success btn-sm"> <i data-feather="user-check"></i></a> &nbsp;
          <a href="#" class="btn btn-danger btn-sm"> <i data-feather="trash"></i></a>
      </td>
    </tr>
    num++;
    }
  </tbody>
</table>*@

   

